<!DOCTYPE html>

<html>

    <head>
      <title>404 Error Page</title>
      <link rel="icon" href="/img/Weather.png"> 
       <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

      <div class='main-content'>
       <h1>{{page}}</h1>
       <p>{{Error}}</p>
       <p>Error no. 404</p>

      </div>
      
       <p>Created by {{name}}</p>

    </body>
</html>