<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/Weather.png">
    
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js"></script>

</head>

<body>

    <div class="main-content">
    
        {{>header}}
        <p>This site was created by Pratik Virani. It uses data from gioapify.com & weatherstack.com</p>
        <p>{{location}}</p>
        <img class='hanuman' src="/img/hanuman.jpg">
    
    </div>
    {{>footer}}
</body>

</html>